root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[*.{js, jsx, ts, tsx, groovy}]
indent_size = 2
indent_style = space
ij_visual_guides = 80
