#!/usr/bin/env bash

function @start() {
  npm start
}

function @setup() {
  echo "Installing extension dependencies..."
  npm install

  echo "Installing development app dependencies..."
  cd devapp
  npm install

  echo "Running development environment for the first time."
  cd ..
  npm start
}

function @meteor-update() {
  cd devapp
  meteor update
  cd ..
}

function @refresh() {
  source .envrc
}
