#!/usr/bin/env bash

function mpm() {
  meteor npm $@
}

function start() {(
  cd devapp
  meteor run --port=5000 --exclude-archs=web.browser.legacy,web.cordova $@
)}

function develop() {
  meteor npx concurrently -n ext,app 'webpack --config webpack/chrome.dev.js' 'npm run devapp'
}

function setup() {
  echo "Installing extension dependencies..."
  yarn

  echo "Installing development app dependencies..."
  cd devapp || exit
  yarn

  echo "Running development environment for the first time."
  cd ..
  yarn start
}

function update-meteor() {(
  cd devapp || exit
  meteor update
  cd ..
)}

function package-version() {
  grep version <package.json |
    head -1 |
    awk -F: '{ print $2 }' |
    sed 's/[", ]//g'
}

function pack-extension() {
  VERSION=$(package-version)
  NAME="releases/${VERSION}.crx"

  mkdir -p releases
  google-chrome --pack-extension=chrome --pack-extension-key=chrome.pem
  mv chrome.crx "$NAME"
  git add "$NAME"
}

function build() {
  VERSION=$(package-version)
  mkdir releases
  yarn run build
  cd chrome || exit
  zip -r "../releases/meteor-devtools-evolved-${VERSION}.zip" -- *
  cd - || exit
}
