.root {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 15px;

  transition: background-color 0.5s ease;

  &.new {
    background-color: #30594d;
  }

  &.starred {
    background-color: #304066;
  }

  div + div {
    margin-left: 10px;
  }

  .time {
    font-size: 11px;
    font-family: inherit;
  }

  .content {
    display: flex;
    flex: 1;
    align-items: center;
    min-width: 0;

    :global(.content-icon) {
      margin-right: 10px;
    }

    :global(.content-preview) {
      flex: 0 1 auto;
      min-width: 0;

      code {
        font-family: monospace;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  &:hover {
    background-color: #394b59;
  }
}
