@import '~normalize.css/normalize.css';
@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';

@import 'Utils';

@font-face {
  font-family: 'Iosevka Medium';
  src: url('../Assets/iosevka-medium.woff');
}

@font-face {
  font-family: 'Iosevka Medium Italic';
  src: url('../Assets/iosevka-mediumitalic.woff');
}

$background-color: #30404d;

::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-box-shadow: none;
  background-color: lighten($background-color, 15%);
}

html,
body {
  font-size: 12px !important;
}

body {
  background-color: $background-color;
  overflow-y: hidden;
  overflow-x: auto;
}

pre {
  white-space: pre-wrap;
}

.truncated {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mde-stack-trace {
  pre {
    margin-bottom: 4px;
  }
}

.minimongo-group {
  display: flex;
  flex-direction: row;
  height: 100%;

  .minimongo-sidebar {
    height: 100%;
    width: 222px;
    overflow-y: auto;
    flex-shrink: 0;
    flex-grow: 0;
  }

  .minimongo-container {
    height: 100%;
    min-width: 0;
    flex-grow: 1;
    flex-shrink: 1;

    .minimongo-row {
      display: flex;
      align-items: center;
      padding: 5px 15px;

      & > * + * {
        margin-left: 8px;
      }

      .minimongo-row-collection {
        @include truncate;
        flex-shrink: 0;
        width: 128px;
      }

      .minimongo-row-preview {
        flex: 0 1 auto;
        @include truncate;
      }
    }
  }
}
