@import '~normalize.css/normalize.css';
@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/popover2/lib/css/blueprint-popover2.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';

@import 'Utils';

@font-face {
  font-family: 'Iosevka Medium';
  src: url('../Assets/iosevka-medium.woff');
}

@font-face {
  font-family: 'Iosevka Medium Italic';
  src: url('../Assets/iosevka-mediumitalic.woff');
}

$background-color: #30404d;

::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: none;
  background-color: lighten($background-color, 15%);
}

html,
body {
  font-size: 12px;
}

body {
  background-color: $background-color;
  overflow: hidden;
}

pre {
  white-space: pre-wrap;
}

.truncated {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mde-stack-trace {
  pre {
    margin-bottom: 4px;
  }
}

.bp3-menu-item {
  i.fas,
  i.fab {
    margin-top: 2px;
    font-size: 16px;
  }
}
