@import '~normalize.css/normalize.css';
@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';
@import '~@blueprintjs/table/lib/css/table.css';

@import 'Utils';

$navbar-height: 50px;
$status-height: 60px;
$background-color: #30404d;
$min-layout-width: 720px;

::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-box-shadow: none;
  background-color: lighten($background-color, 15%);
}

html,
body {
  font-size: 12px !important;
}

body {
  background-color: $background-color;
  overflow-y: hidden;
  overflow-x: auto;
}

pre {
  white-space: pre-wrap;
}

.mde-stack-trace {
  pre {
    margin-bottom: 4px;
  }
}

.mde-layout__tab-panel {
  position: relative;

  .mde-content {
    height: calc(100vh - #{$navbar-height + $status-height});
    padding: 0;

    .minimongo-group {
      display: flex;
      flex-direction: row;
      height: 100%;

      .minimongo-sidebar {
        height: 100%;
        width: 222px;
        overflow-y: auto;
        flex-shrink: 0;
        flex-grow: 0;
      }

      .minimongo-container {
        height: 100%;
        min-width: 0;
        flex-grow: 1;
        flex-shrink: 1;

        .minimongo-row {
          display: flex;
          align-items: center;
          padding: 5px 15px;

          & > * + * {
            margin-left: 8px;
          }

          .minimongo-row-collection {
            @include truncate;
            flex-shrink: 0;
            width: 128px;
          }

          .minimongo-row-preview {
            flex: 0 1 auto;
            @include truncate;
          }
        }
      }
    }
  }
}
