div[role='tree'] {
  font-size: 1rem;
  padding: 1rem;

  strong[role='property'] {
    color: #669eff;
  }

  span[role='property'] {
    color: #ff6e4a;
  }

  span[role='index'] {
    color: #808080;
  }

  span[role='string'] {
    color: #c88953;
  }

  span[role='null'] {
    color: #c274c2;
  }

  span[role='number'] {
    color: #ad99ff;
  }

  span[role='boolean'] {
    color: #c274c2;
  }

  span[role='expand'],
  span[role='collapse'] {
    font-family: monospace;
    color: #808080;
    margin-left: 0.33rem;
    cursor: pointer;
    user-select: none;
  }

  ul,
  ol {
    list-style: none;
    padding-left: 1rem;
    margin: 0;
  }

  & > ul,
  & > ol {
    padding: 0;
  }
}
