div[role='tree'] {
  font-size: 12px;
  padding: 12px;

  height: calc(100vh - 110px);
  overflow-y: scroll;

  strong[role='property'] {
    cursor: pointer;
    color: #669eff;
  }

  span[role='property'] {
    color: #ff6e4a;
  }

  span[role='string'] {
    font-family: monospace;
    color: #c99765;
  }

  span[role='number'] {
    font-family: monospace;
    color: #ad99ff;
  }

  span[role='expand'],
  span[role='collapse'] {
    font-family: monospace;
    color: #808080;
    margin-left: 4px;
    cursor: pointer;
    user-select: none;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}
