@import '~normalize.css/normalize.css';
@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';

body {
  background-color: #30404d;
}

.mde-layout {
  padding-top: 50px;
}

.mde-table {
  width: 100%;

  td {
    word-break: break-word;
  }
}

.mde-layout__tab-panel {
  max-width: 100vw;
  overflow: hidden;
  padding: 15px;
}

.mde-ddp {
  width: 100%;

  .mde-ddp__log-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 0;

    div + div {
      margin-left: 10px;
    }

    .time {
    }

    .direction {
    }

    .content {
      flex-grow: 1;
    }
  }
}
