@import '~normalize.css/normalize.css';
@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';

$background-color: #30404d;

body {
  background-color: $background-color;
}

.mde-layout {
  padding-top: 50px;

  .mde-layout__status {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
  }
}

.mde-table {
  width: 100%;

  td {
    word-break: break-word;
  }
}

.mde-layout__tab-panel {
  max-width: 100vw;
  overflow: hidden;
  padding: 15px;
}

.mde-ddp {
  width: 100%;

  .mde-ddp__log-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 15px;
    margin: 0 -15px;

    transition: background-color .5s ease;

    &.mde-ddp__log-row--new {
      background-color: lighten($background-color, 5%);
    }

    div + div {
      margin-left: 10px;
    }

    .time {
    }

    .direction {
    }

    .content {
      flex-grow: 1;
    }

    .hash {
      font-family: monospace;
    }

    .interactions {
      visibility: hidden;
    }

    &:hover {
      background-color: #394b59;
    }

    &:hover .interactions {
      visibility: visible;
    }
  }
}
